
#html,#body,#home,
.page{
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;

}
#home{
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(/home/uwase/Documents/moringa-school-projects/article-revision/images/homepage2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding-bottom: 20px;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}
.bg{
    background-color: #ee8888;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}
.sicon{
    padding: 0.7px;
    margin: 8px;
    color: #fff;

}
.headerContent{
    text-align: center;
    color: #fff;
    width: 50%;
    margin: auto;
    padding-top: 200px;
   

}

.logo{
    font-size: 30px;
    color: #fff;
    font-family: 'Sansita Swashed', cursive;
    
}
.spanLogo{
    color: #ffb3b3;
    font-weight: bold;
}
span{
    font-family: 'Sansita Swashed', cursive;
    
}
#blog{
    text-align: center;
    padding-top: 60px;
    margin: 100px  100px;
}
h3{
    padding-bottom: 40px;
}
.banner{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

/**********************************/

.authBlog{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}



.blogPos{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: grey; 
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.jumbotron {
    background-color:#ffefef;
    width: 800px;
    margin: auto;
}

.artic{
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    margin-bottom: 30px;
}

hr{
    background-color: grey;
}

.required {
    color: red;
    font-size: 20px;
}

form input[required=required]:after {
    color: red;
    content: " *";
}

.form p {
    font-family: serif;
}

::placeholder {
    font-style: italic;
    font-family: initial;
}



.thar {
    background-color: rgba(128, 128, 128, 0.473);
    width: 200px;
    font-weight: bold;
    letter-spacing: 3px;
    border: #ff9999;
    color: white;
    cursor: pointer;
    height: 50px;
}
 .thar:hover {
     background-color:  #ff9999;
 }

input[type=text]{
    border: 1px solid black;
} 

